
@{
}
<div class="login-box">
  @*   <div class="login-logo">
        <a href="../../index2.html"><b>TNP</b>Nhat</a>
    </div> *@
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Thay đổ mật khẩu</p>

        <form action="~/Account/ChangePassword" method="post">
            <div class="form-group has-feedback">
                <input type="password" class="form-control" 
                placeholder="Mật khẩu cũ" name="oldPassword" >
                @Html.ValidationMessage("oldPassword", new { @style = "color:#f00" })
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control"
                placeholder="Mật khẩu mới" name="newPassword1" >
                @Html.ValidationMessage("newPassword1", new { @style = "color:#f00" })
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" 
                placeholder="Nhập lại mật khẩu" name="newPassword2">
                @Html.ValidationMessage("newPassword2", new { @style = "color:#f00" })
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <a href="~/Home" class="btn btn-default">
                        Quay lại
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Xác nhận</button>
                    
                </div>
                <!-- /.col -->
            </div>
            @Html.ValidationMessage("Error", new { @style = "color:#f00" })
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
